.whole {
    background-image: url(images/table.jpeg);
}

#paragraph1 {
    background-color: green;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    padding: 15px;
    margin-right: 1250px;
}

#card > img {
    height: 300px;
    width: 220px;
}




