.whole {
    background-image: url(images/table.jpeg);
}

#paragraph1 {
    color: white;
    background-color: #29635C;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    padding: 2px;
    margin-right: 1250px;
    text-align: center;
    border-radius: 7px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}


#card > img {
    height: 240px;
    width: 175px;
    padding: 10px;
}

#card2 > img {
    height: 240px;
    width: 175px;
    padding: 10px;
}

#paragraph2 {
    color: white;
    background-color: #29635C;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    padding: 2.5px;
    margin-right: 1235px;
    text-align: center;
    border-radius: 7px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

#paragraph3 {
    color: white;
    background-color: #29635C;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    padding: 2px;
    margin-right: 1250px;
    text-align: center;
    border-radius: 7px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}





