.whole {
    background-image: url(images/table.jpeg);
}

#paragraph1 {
    background-color: rgb(25, 185, 172);
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    padding: 5px;
    margin-right: 1250px;
    text-align: center;
}


#card > img {
    height: 240px;
    width: 175px;
    padding: 10px;
}

#card2 > img {
    height: 240px;
    width: 175px;
    padding: 10px;
}

#paragraph2 {
    background-color: #bd1664;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    padding: 5px;
    margin-right: 1235px;
    text-align: center;
}

#paragraph3 {
    background-color: #5707d8;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    padding: 15px;
    margin-right: 1250px;
    text-align: center;
}

#compare (
    
)




